<div class="content">
    <h1 class="page-header">
        Classes
    </h1>

    <div class="table-responsive table-full-width">
        <table class="table table-hover table-striped">
            <tr>
                <th class="text-center">Class Name</th>
                <th class="text-center">Actions</th>
            </tr>
            <tr ng-repeat="clazz in clazzes| orderBy:'name' track by clazz.id" >
                <td class="text-center">
                    {{clazz.name}}
                </td>
                <td class="text-center">
                    <a class="btn btn-primary btn-log" role="button" ng-click="viewClazz(clazz.id)">View</a>
                </td>
            </tr>

        </table>
    </div>
</div>