<div class="sidebar" data-color="gray" data-image="assets/img/sidebar-2.jpg" style='background: transparent url("assets/img/sidebar-2.jpg")'>

<div class="sidebar-wrapper">
    <div class="logo">
        <a href="/HighschoolPlatform/" class="simple-text">
            High School Platform
        </a>
    </div>

    <ul class="nav">
        <li ng-repeat="action in actionsList" ng-show="action.show === true">
            <a href="{{action.url}}"><i class="{{action.class}}"></i><p>{{action.label}}</p></a>
        </li>
        <li>
            <a ng-show="logged" href="#"><i class="pe-7s-lock" role="button" ng-click="logout()"></i><p>Logout</p></a>
        </li>
    </ul> 
</div>
</div>